@import "../variables.scss";

.application-container {
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-size: 100% auto;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  overflow: auto;

  .todo-header {
    width: 50vw;
    margin: 40px 0px 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 16px;
  }

  .todo-container {
    height: 50vh;
    width: 50vw;
  }

  .todo-input {
    width: 50vw;
    margin-bottom: 20px;
  }

  .hint {
    padding: 40px 0px;
    text-align: center;
    font-size: 14px;
  }

  &[data-theme="light"] {
    background-color: $gray-1;
    @media (min-width: 768px) {
      background-image: url("../assets/bg-desktop-light.jpg");
    }

    @media (max-width: 767px) {
      background-image: url("../assets/bg-mobile-light.jpg");
    }

    .hint {
      color: $gray-blue-3;
    }
  }

  &[data-theme="dark"] {
    background-color: $dark-gray-blue-1;
    @media (min-width: 768px) {
      background-image: url("../assets/bg-desktop-dark.jpg");
    }

    @media (max-width: 767px) {
      background-image: url("../assets/bg-mobile-dark.jpg");
    }

    .hint {
      color: $dark-gray-blue-6;
    }
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drop-list-dragging .todo-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .application-container {
    justify-content: flex-start;

    .todo-header {
      width: 90vw;
    }

    .todo-container {
      width: 90vw;
    }

    .todo-input {
      width: 90vw;
    }
  }
}
