<div class="application-container dark" appThemable>
  <div class="todo-header">
    <h1>TODO</h1>
    <app-theme-switcher></app-theme-switcher>
  </div>
  <app-todo-item class="todo-input" [inputMode]="true" appThemable>
  </app-todo-item>
  <div class="todo-container">
    <div
      cdkDropList
      cdkDropListLockAxis="y"
      cdkDropListOrientation="vertical"
      (cdkDropListDropped)="drop($event)"
      class="todo-list"
    >
      <div
        *ngFor="let item of todoService.todos$ | async"
        class="todo-item"
        cdkDrag
        [cdkDragData]="item"
      >
        <app-todo-item [item]="item" appThemable></app-todo-item>
      </div>
    </div>
    <app-todo-list-footer appThemable></app-todo-list-footer>
  </div>
</div>
