@import "../../assets/variables.scss";

:host {
  .footer-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    border-radius: 0 0 5px 5px;

    .item-count {
      font-size: 14px;
      color: $dark-gray-blue-6;
    }
  }

  .footer-mobile {
    display: none;
  }

  &[data-theme="light"] {
    .footer-main {
      background-color: $gray-blue-1;
      color: $gray-blue-4;
    }

    .footer-mobile {
      background-color: $gray-blue-1;
      color: $gray-blue-4;
    }
  }

  &[data-theme="dark"] {
    .footer-main {
      background-color: $dark-gray-blue-2;
      color: $dark-gray-blue-3;
    }

    .footer-mobile {
      background-color: $dark-gray-blue-2;
      color: $dark-gray-blue-3;
    }
  }

  @media (max-width: 767px) {
    .footer-main .filter-container {
      display: none;
    }

    .footer-mobile {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
      padding: 10px;
      border-radius: 0 0 5px 5px;
    }
  }
}
