@import "../../variables.scss";

:host {
  .todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #25283b;
    border-bottom: 1px #383a4f solid;

    .complete-button {
      flex-grow: 0;
      margin: 8px 16px !important;
      background: none;
      border: 1px #383a4f solid;
      border-radius: 50%;
      width: 25px;
      height: 25px;

      img {
        visibility: hidden;
      }
    }

    .todo-title {
      flex-grow: 1;
      background: none;
      border: none;
      padding: 8px 0px 8px 0px;
      margin: 16px 16px !important;

      &:focus-visible {
        outline: none;
      }
    }

    .remove-button {
      flex-grow: 0;
      margin: 8px 16px;
      background: none;
      border: none;
      visibility: hidden;
    }

    &:hover {
      cursor: pointer;

      .complete-button {
        position: relative;
        cursor: pointer;
        &:hover {
          border-color: $color-primary;
        }
      }

      .remove-button {
        visibility: visible;
        cursor: pointer;
      }
    }

    &.completed {
      .todo-title {
        text-decoration: line-through;
      }

      .complete-button {
        position: relative;
        border-color: $color-primary;
        background-image: $button-gradient;

        img {
          visibility: visible;
        }
      }
    }

    &.input {
      border-radius: 5px;

      input {
        font-size: $font-size-1;
        caret-color: $color-primary;
      }
    }
  }

  &[data-theme="light"] {
    .todo-item {
      background-color: $gray-blue-1;
      border-bottom: 1px $gray-blue-2 solid;

      .todo-title {
        color: $gray-blue-4;
      }

      .complete-button {
        border-color: $gray-blue-2;
      }

      &.completed {
        .todo-title {
          color: $gray-blue-3;
        }
      }
    }
  }

  &[data-theme="dark"] {
    .todo-item {
      background-color: $dark-gray-blue-2;
      border-bottom: 1px $dark-gray-blue-7 solid;

      .todo-title {
        color: $dark-gray-blue-3;
      }

      .complete-button {
        border-color: $dark-gray-blue-7;
      }

      &.completed {
        .todo-title {
          color: $dark-gray-blue-6;
        }

        .complete-button {
          border-color: $color-primary;
          background-image: $button-gradient;
        }
      }
    }
  }
}
