:host {
  .todo-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #25283b;

    .complete-button {
      flex-grow: 0;
      margin: 8px 16px !important;
      background: none;
      border: 1px #383a4f solid;
      border-radius: 50%;
      width: 25px;
      height: 25px;

      img {
        visibility: hidden;
      }
    }

    .todo-title {
      flex-grow: 1;
      color: #cdcfe6;
      background: none;
      border: none;
      padding: 8px 0px 8px 0px;
      margin: 16px 16px !important;

      &:focus-visible {
        outline: none;
      }
    }

    .remove-button {
      flex-grow: 0;
      margin: 8px 16px;
      background: none;
      border: none;
      visibility: hidden;
    }

    &:hover {
      cursor: pointer;

      .complete-button {
        background-clip: padding-box;
        position: relative;
        border-color: #6ebff7;
        cursor: pointer;
      }

      .remove-button {
        visibility: visible;
        cursor: pointer;
      }
    }

    &.completed {
      .todo-title {
        text-decoration: line-through;
      }

      .complete-button {
        background-clip: padding-box;
        position: relative;
        border-color: #6ebff7;

        img {
          visibility: visible;
        }
      }
    }
  }

  &:not(:last-child) .todo-item {
    border-bottom: 1px #383a4f solid;
  }
}
