<div class="todo-item" [class]="completedClass">
  <button class="complete-button" (click)="todoService.toggleTodo(item)">
    <img src="../../assets/icon-check.svg" />
  </button>
  <p *ngIf="!inputMode; else todoIput" class="todo-title">
    {{ item.title }}
  </p>
  <button
    *ngIf="!inputMode"
    class="remove-button"
    (click)="todoService.removeTodo(item)"
  >
    <img src="../../assets/icon-cross.svg" />
  </button>
</div>

<ng-template #todoIput>
  <input
    class="todo-title"
    type="text"
    placeholder="Create a new todo..."
    [(ngModel)]="newTodoTitle"
    (keyup.enter)="addTodo()"
/></ng-template>
