@import "./variables.scss";

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: $font-family-1;
  font-size: $font-size-1;
  font-weight: $font-weight-1;

  app-root {
    height: 100vh;
    width: 100vw;
  }
}

.text-button {
  font-size: 14px;
  font-weight: $font-weight-1;
  font-family: $font-family-1;
  padding: 0px 10px;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
  color: $dark-gray-blue-6;

  &.active-filter {
    color: $color-primary;
  }

  &:hover:not(.active-filter) {
    color: $dark-gray-blue-4;
  }
}
