$color-primary: hsl(220, 98%, 61%);
$button-gradient: linear-gradient(
  45deg,
  hsl(192deg, 100%, 67%),
  hsl(280deg, 87%, 65%)
);

$gray-1: hsl(0, 0%, 98%);
$gray-blue-1: hsl(236, 33%, 92%);
$gray-blue-2: hsl(233, 11%, 84%);
$gray-blue-3: hsl(236, 9%, 61%);
$gray-blue-4: hsl(235, 19%, 35%);

$dark-gray-blue-1: hsl(235, 21%, 11%);
$dark-gray-blue-2: hsl(235, 24%, 19%);
$dark-gray-blue-3: hsl(234, 39%, 85%);
$dark-gray-blue-4: hsl(236, 33%, 92%);
$dark-gray-blue-5: hsl(234, 11%, 52%);
$dark-gray-blue-6: hsl(233, 14%, 35%);
$dark-gray-blue-7: hsl(237, 14%, 26%);

$font-size-1: 18px;

$font-family-1: "Josefin Sans", sans-serif;
$font-weight-1: 400;
$font-weight-2: 700;
